@charset"utf-8";

@font-face {
	font-family: 'mplus-1-light';
	src: url('/common/fonts/Mplus/mplus-1-light-sub.woff');
}
@font-face {
	font-family: 'mplus-1-thin';
	src: url('/common/fonts/Mplus/mplus-1-thin-sub.woff');
}
@font-face {
	font-family: 'mplus-1p-light';
	src: url('/common/fonts/Mplus/mplus-1p-light-sub.woff');
}
@font-face {
	font-family: 'mplus-1p-thin';
	src: url('/common/fonts/Mplus/mplus-1p-thin-sub.woff');
}
@font-face {
	font-family: 'mplus-1-regular';
	src: url('/common/fonts/Mplus/mplus-1-regular-sub.woff');
}
@font-face {
	font-family: 'mplus-1p-regular';
	src: url('/common/fonts/Mplus/mplus-1p-regular-sub.woff');
}

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	letter-spacing: -0.01px;
	list-style: none;
}

a {
	text-decoration: none ;
	color: #fff;
}

.cover {
	z-index: 1;
}


.header-text {
	padding: 7px;
}


header {
	padding: 0px;
	font-family: 'mplus-1-thin','mplus-1p-thin';
}

img.second-header {
    width: 100%;
    height: 150px;
	object-fit: cover;
}

.main {
	padding: 0px;
	font-family: 'mplus-1-regular','mplus-1p-regular';
}

.title-text {
	padding: 7px;
	
}

.text {
	padding: 7px;
}

@media (min-width: 768px){
	html {
		max-width: 750px;
		margin-right: auto;
		margin-left: auto;
	}
		
	.header-text { 
		padding: 10px;
	}
	
}

@media (min-width: 1024px){
	
	html {
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-width: 301px){
	.header-text{
		letter-spacing: -1px;
	}
}

@media (max-width: 285px){
	.header-text{
		letter-spacing: -2px;
	}
}