<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>武蔵高等学校中学校鉄道研究部ブログ</title>
<link rel="stylesheet" href="../../../common/styles/normalize.css">
<link rel="stylesheet" href="../../../common/styles/hp-common.css">
<link rel="stylesheet" href="../../common/site-common.css">
<link rel="stylesheet" href="./style.css">
</head>

<body>
	<main>
		<div class="title-text">
			記念祭小冊子
		</div>
		<p>
			<div class="first">
				レ
			</div>
			<div class="site-text">
				イアウト作成のためのテキスト。あああああああああああああああああああああああああああああああああああああああああああああああああああああああ
		    </div>
		</p>
	</main>
</body>
</html>
