@charset"utf-8";

@font-face {
	font-family: 'mplus-1-light';
	src: url('../fonts/Mplus/mplus-1-light-sub.woff');
}
@font-face {
	font-family: 'mplus-1-thin';
	src: url('../fonts/Mplus/mplus-1-thin-sub.woff');
}
@font-face {
	font-family: 'mplus-1p-light';
	src: url('../fonts/Mplus/mplus-1p-light-sub.woff');
}
@font-face {
	font-family: 'mplus-1p-thin';
	src: url('../fonts/Mplus/mplus-1p-thin-sub.woff');
}
@font-face {
	font-family: 'mplus-1-regular';
	src: url('../fonts/Mplus/mplus-1-regular-sub.woff');
}
@font-face {
	font-family: 'mplus-1p-regular';
	src: url('../fonts/Mplus/mplus-1p-regular-sub.woff');
}

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	letter-spacing: -0.01px;
}

.fixed-button-colider {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	z-index: 3;
}

#fixed-button {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	box-shadow: 0 0 8px gray;
	z-index: 2;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	opacity: 0;
	visibility: hidden;
	transition: .2s cubic-bezier(0.66, 0.03, 0.35, 0.91);
	transform: translateY(100%);
	color:#fff;
	list-style: none;
}
.overlay.is-open {
  	opacity: 1;
	background-color: rgba(0, 0, 0, .8);
  	visibility: visible;
  	transform: translateY(0);
}

.overlay .overlay-search {
	width: 240px;
	border-bottom: solid 1px #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	font-family: "mplus-1-thin";
	color:rgba(255,255,255,0.40) 
}

.overlay .overlay-list {
	margin-top: 20px;
	width: 180px;
	margin-right: auto;
	margin-left: auto;
	font-family: "mplus-1-thin","mplus-1p-thin";
}

.overlay .overlay-list li {
	padding-top: 10px;
	width: 100%;
	border-bottom: solid 1px #4E4E4E;
}

.overlay .overlay-share {
	width: 200px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	text-align: center;
	font-family: "mplus-1-light","mplus-1p-light";
}

.overlay .overlay-share .share-icon-twitter {
	width:calc(100% / 3);
	float:left;
	padding: 10px;
}

.overlay .overlay-share .share-icon-facebook {
	width:calc(100% / 3);
	float:left;
	padding: 10px;
}

.overlay .overlay-share .share-icon-googleplus {
	width:calc(100% / 3);
	float:left;
	padding: 10px;
}

.header-text {
	padding: 7px;
}


header {
	padding: 0px;
	font-family: 'mplus-1-thin','mplus-1p-thin';
}

main {
	padding: 0px;
	font-family: 'mplus-1-regular','mplus-1p-regular';
}

footer {
	padding: 0px;
	padding: 20px 30px;
	font-family: 'mplus-1-regular','mplus-1p-regular';
}

.footer-text {
	font-size: 11px;
	margin-bottom: 20px;
}

.twitter-logo {
	width: 40px;
	position:relative;
	top: 10px;
	left: 10px;
	margin-bottom: 20px;
}

@media (min-width: 768px){
	html {
		max-width: 750px;
		margin-right: auto;
		margin-left: auto;
	}
		
	.header-text {
		padding: 10px;
	}
	
}

@media (min-width: 1024px){
	
	html {
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-width: 301px){
	.header-text{
		letter-spacing: -1px;
	}
}

@media (max-width: 285px){
	.header-text{
		letter-spacing: -2px;
	}
}