@charset"utf-8";

@font-face {
	font-family: 'mplus-1-light';
	src: url('../fonts/Mplus/mplus-1-light-sub.woff');
}
@font-face {
	font-family: 'mplus-1-thin';
	src: url('../fonts/Mplus/mplus-1-thin-sub.woff');
}
@font-face {
	font-family: 'mplus-1p-light';
	src: url('../fonts/Mplus/mplus-1p-light-sub.woff');
}
@font-face {
	font-family: 'mplus-1p-thin';
	src: url('../fonts/Mplus/mplus-1p-thin-sub.woff');
}
@font-face {
	font-family: 'mplus-1-regular';
	src: url('../fonts/Mplus/mplus-1-regular-sub.woff');
}
@font-face {
	font-family: 'mplus-1p-regular';
	src: url('../fonts/Mplus/mplus-1p-regular-sub.woff');
}

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	letter-spacing: -0.01px;
}

header {
	padding: 0px;
	font-family: 'mplus-1-thin','mplus-1p-thin';
}

main {
	padding: 0px;
	font-family: 'mplus-1-regular','mplus-1p-regular';
}

footer {
	padding: 0px;
	padding: 20px 30px;
	font-family: 'mplus-1-regular','mplus-1p-regular';
}

.footer-text {
	font-size: 11px;
	margin-bottom: 20px;
}

.twitter-logo {
	width: 40px;
	position:relative;
	top: 10px;
	left: 10px;
	margin-bottom: 20px;
}

@media (min-width: 768px){
	html {
		max-width: 750px;
		margin-right: auto;
		margin-left: auto;
	}
		
	.header-text {
		padding: 10px;
	}
	
}

@media (min-width: 1024px){
	
	html {
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-width: 301px){
	.header-text{
		letter-spacing: -1px;
	}
}

@media (max-width: 285px){
	.header-text{
		letter-spacing: -2px;
	}
}