ErrorDocument 404 /404.html

AddType font/opentype         .otf
AddType font/eot              .eot
AddType font/truetype         .ttf
AddType application/font-woff .woff

RewriteEngine on
RewriteRule ^/sites/osirase/modukon2018_d2/index.html$ https://railfanclub634.github.io/sites?event/4 [R=301,L]