ErrorDocument 404 /404.html

AddType font/opentype         .otf
AddType font/eot              .eot
AddType font/truetype         .ttf
AddType application/font-woff .woff

Redirect 301 /sites/haihu/96th-booklet /sites/index.html?haihu/1