@charset"utf-8";

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	padding: 8px;
	font-family: 'mplus-1p-thin';
}

main {
	font-family: 'mplus-1-regular','mplus-1p-regular';
}

footer {
	padding: 20px 30px;
}

img#fixed-button {
	position: fixed;
	width: 60px;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	box-shadow: 0 0 8px gray;
}

.booklet-96th {
	background-image : url(images/home/96th-booklet.svg);
	background-size: cover;
	background-position: center center; 
	padding: 20px 20px 450px 20px;
	color: #111;
	text-align: center;
	background-attachment:fixed;
}	

.tyouki2018 {
	background-image: url(images/home/hero.png);
	background-size: cover;
	background-position: center center; 
	padding: 20px 20px 450px 20px;
	color: #FFFFFF;
	text-align: center;
	background-attachment:fixed;
}

.kinensai {
	background-image: url(images/home/kinensai-logo.png);
	background-size: cover;
	background-position: center center; 
	padding: 20px 20px 430px 20px;
	color: #FFFFFF;
	text-align: center;
	background-attachment:fixed;
}

.footer-text {
	font-size: 11px;
	margin-bottom: 20px;
}

.twitter-logo {
	width: 40px;
	position:relative;
	top: 10px;
	left: 10px;
	margin-bottom: 20px;
}

/*タブレット用*/
@media (min-width: 768px){
	html {
		display: none;
	}
}
	
/*デスクトップ用*/
@media (min-width: 1024px){
	
	html {
		display: none;
	}


}