@charset"utf-8";

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	letter-spacing: -0.01px;
}

header {
	padding: 0px;
	font-family: 'mplus-1p-thin';
}

main {
	font-family: 'mplus-1-regular','mplus-1p-regular';
}

footer {
	padding: 20px 30px;
}

.cover-lock {
	pointer-events: none;
}

.fixed-button-colider {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	z-index: 3;
}

#fixed-button {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	box-shadow: 0 0 8px gray;
	z-index: 2;
}

#fixed-button #fixed-button-1 .border {
	transition: 200ms 
}

#fixed-button #fixed-button-1 .border1 {
  transform: translate(-102px, 102px) rotate(45deg);
}
#fixed-button #fixed-button-1 .border2 {
  opacity: 0;
}
#fixed-button #fixed-button-1 .border3 {
  transform: translate(-102px, -102px) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  visibility: hidden;
  transition: .2s cubic-bezier(0.66, 0.03, 0.35, 0.91);
  transform: translateY(100%);
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-text {
	padding: 7px;
}

.main-box {
	background-size: cover;
	background-position: center center;
	padding-top: 20px;
	padding-bottom: 440px;
	text-align: center;
}

.box1 {
	background-image : url(images/home/error/image-none1.png);
	color: #000000;
}	

.box1 h1 {
	position:relative;
	top:185px;
	font-size: 60px;
}

.box2 {
	background-image: url(images/home/error/image-none1.png);
	color: #000000;
}

.box3 {
	background-image: url(images/home/error/image-none1.png);
	color: #000000;
}

.box4 {
	background-image: url(images/home/error/image-none1.png);
	color: #000000;
}

.footer-text {
	font-size: 11px;
	margin-bottom: 20px;
}

.twitter-logo {
	width: 40px;
	position:relative;
	top: 10px;
	left: 10px;
	margin-bottom: 20px;
}

/*タブレット用*/
@media (min-width: 768px){
	html {
		max-width: 750px;
		margin-right: auto;
		margin-left: auto;
	}
		
	.menu {
		display: none;
	}
	
	.header-text {
		padding: 10px;
	}
	
	.main-box {
		float:left;
		width: 50%;
		padding-bottom: 300px;
	}
	
	.box1 h1 {
	position:relative;
	top:110px;
	font-size: 60px;
	}
}
	
/*デスクトップ用*/
@media (min-width: 1024px){
	
	html {
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.main-box {
		float: left;
		width: calc(100% / 3);
	}
}

/*タイトルが収まりきらない端末用*/
@media (max-width: 301px){
	.header-text{
		letter-spacing: -1px;
	}
}
@media (max-width: 285px){
	.header-text{
		letter-spacing: -2px;
	}
}