@charset "utf-8";

.fixed-button-colider {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	z-index: 11;
}

#fixed-button {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	box-shadow: 0 0 8px gray;
	z-index: 10;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	opacity: 0;
	visibility: hidden;
	transition: .2s cubic-bezier(0.66, 0.03, 0.35, 0.91);
	transform: translateY(100%);
	color:#fff;
}

.is-open {
  	opacity: 1;
	background-color: rgba(0, 0, 0, .8);
  	visibility: visible;
  	transform: translateY(0);
}

.overlay-search {
	width: 240px;
	border-bottom: solid 1px #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	font-family: "mplus-1-thin";
	color: rgba(255,255,255,0.40);
}

.overlay-list {
	margin-top: 20px;
	width: 180px;
	margin-right: auto;
	margin-left: auto;
	font-family: "mplus-1-thin","mplus-1p-thin";
}

.overlay-list li {
	padding-top: 10px;
	width: 100%;
	border-bottom: solid 1px #4E4E4E;
}

.overlay-share {
	width: 200px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	text-align: center;
	font-family: "mplus-1-light","mplus-1p-light";
}

.share-icon-twitter,.share-icon-facebook,.share-icon-googleplus {
	width:calc(100% / 3);
	float:left;
	padding: 15px;
}

/*タブレット用*/
@media (min-width: 768px){
	
	.overlay-search{
		float: left;
		width: 50%;
		padding-left: 40%;
		padding-right: 10%;
	}
	
	.overlay-list{
		float: left;
		width: 50%;
		padding-left: 40%;
		padding-right: 10%;
	}
	
	.overlay-share {
		clear: both;
		
	}
	
}
	
/*デスクトップ用*/
@media (min-width: 1024px){
	
	
}