@charset "utf-8";

html {
	font-family: "mplus-1-regular","mplus-1p-regular";
}

.title-text {
	font-family: "mplus-1-light","mplus-1p-light";
	font-size: 40px;
	
}

.first {
	font-size: 27px;
	float:left;
	font-family: "mplus-1-light"
}

.site-text{
	font-size: 14px;
	font-family: "mplus-1-light"
}